*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;/*space from the top and apply box*/
    margin-bottom: 30px;/*space from the bottom and apply box*/
    box-shadow: 4px 3px 5px rgba(1,1,1,0.1);
    border-radius: 10px;
}
.title_small{
    font-size: 20px;
}
.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap:20px;
}
.form_control{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 15px;
    margin-bottom: 5px;
}

input,
select,
textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}
input:focus{
    outline-color: red;
}

.button_container{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
button{
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;// text color;
    border-radius: 8px;/*to make the button little circular*/
    transition: 0.3s ease-in;/*button ke upper cursor le jane pe hover ko 0.3 second lagega change hone me*/
}
button:hover{
    background-color: #ccc;/* button color: cange after cursor go on the button;*/
    border: 2px solid blue;
    color: black;/*text background-color*/
    transition: 0.3s ease-out;/*button ke upper cursor ko hatane ke baad hover ko 0.3 second lagega chage hone me*/
    cursor: pointer;/*cursor jb button pe jayega tho cursor ka symbol badal ke pointer ka symbol ho jayega*/
}

.textarea_control{
    grid-column: 1 / span 2;/*it menas text area do grid ka space aakele lega*/
}
.textarea_control textarea{
    width: 100%;/*text area full width le lega*/
}
@media (max-width: 460px){
    .textarea_control{
        grid-column: 1 / san 1;/*jab hum is form ko phone me open karege tho address box 
        unacurate ho jayega isiliye yaha jb width 460 se km hoga 
        tho address ka column 1 hojayega */
    }
};